@model SGPI.Models.Usuario

@{
    ViewData["Title"] = "ADMISTRADOR";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--TITULO PAGINA-->
    <title>@ViewData["Title"] - Marte~Tec</title>
</head>
<body>
    <!-- DASHBOARD -->
    @*TITULO*@
    <section class="seccion">
        <h1>
            @ViewData["Title"]
        </h1>
    </section>
    
    @*FORMULARIO*@
    <section class="seccion">
        <form class="row g-3">
            
            @*CAMPO DE ENTRADA PARA PRIMER NOMBRE*@
            <div class="col-md-6">
                <label asp-for="PrimerNombre" class="texto form-label">Primer Nombre</label>
                <input type="text" class="form-control" asp-for="PrimerNombre" required>
            </div>
            
            @*CAMPO DE ENTRADA PARA SEGUNDO NOMBRE*@
            <div class="col-md-6">
                <label asp-for="SegundoNombre" class="texto form-label">Segundo Nombre</label>
                <input type="text" class="form-control" asp-for="SegundoNombre">
            </div>

            @*CAMPO DE ENTRADA PARA PRIMER APELLIDO*@
            <div class="col-md-6">
                <label asp-for="PrimerApellido" class="texto form-label">Primer Apellido</label>
                <input type="text" class="form-control" asp-for="PrimerApellido" required>
            </div>

            @*CAMPO DE ENTRADA PARA SEGUNDO APELLIDO*@
            <div class="col-md-6">
                <label asp-for="SegundoApellido" class="texto form-label">Segundo Apellido</label>
                <input type="text" class="form-control" asp-for="SegundoApellido">
            </div>

            @*CAMPO DE ENTRADA PARA CORREO*@
            <div class="col-md-6">
                <label asp-for="Email" class="texto form-label">Email</label>
                <input type="email" class="form-control" asp-for="Email" required>
            </div>

            @*CAMPO DE ENTRADA PARA CONTRASEÑA*@
            <div class="col-md-6">
                <label asp-for="Pass" class="texto form-label">Contraseña</label>
                <input type="password" class="form-control" asp-for="Pass" required>
            </div>

            @*CAMPO DE ENTRADA PARA TIPO DE DOCUMENTO*@
            <div class="col-md-6">
                <label asp-for="Documento" class="texto form-label">Tipo Documento</label>
                @Html.DropDownList("Iddoc", new SelectList(ViewBag.Doc, "Iddoc", "Descripcion"), new {@class="form-select"})
                @*<select asp-for="Documento" class="form-select">
                    <option selected>Seleccionar...</option>
                    <option>C.C</option>
                    <option>C.E</option>
                    <option>T.I</option>
                    <option>Pasaporte</option>
                </select>*@
            </div>

            @*CAMPO DE ENTRADA PARA NUMERO DEL DOCUMENTO*@
            <div class="col-6">
                <label asp-for="NumDoc" class="texto form-label">Numero Documento</label>
                <input type="text" class="form-control" asp-for="NumDoc" placeholder="No" required>
            </div>

            @*CAMPO DE ENTRADA PARA EL SEXO*@
            <div class="col-md-6">
                <label asp-for="Genero" class="texto form-label">Sexo</label>
                @Html.DropDownList("Idgen", new SelectList(ViewBag.Genero, "Idgen", "Descripcion"), new {@class="form-select"})
                @*<select asp-for="Genero" class="form-select">
                    <option selected>Seleccionar...</option>
                    <option>Hombre</option>
                    <option>Mujer</option>
                    <option>38 Tipos de Gay y Sebástian</option>
                    <option>Otros</option>
                </select>*@
            </div>

            @*CAMPO DE ENTRADA PARA EL ROL*@
            <div class="col-6">
                <label asp-for="Rol" class="texto form-label">Rol</label>
                @Html.DropDownList("Idrol", new SelectList(ViewBag.Rol, "Idrol", "Descripcion"), new {@class="form-select"})
                @*<select asp-for="Rol" class="form-select" placeholder="No">
                    <option>Seleccionar...</option>
                    <option>Administrador</option>
                    <option>Coordinador</option>
                    <option>Estudiante</option>
                </select>*@
            </div>

            @*CAMPO DE ENTRADA PARA EL PROGRAMA*@
            <div class="col-md-12">
                <label asp-for="Programa" class="texto form-label">Programa</label>
                @Html.DropDownList("Idprog", new SelectList(ViewBag.Prog, "Idprog", "Descripcion"), new {@class="form-select"})
                @*<select asp-for="Programa" class="form-select">
                    <option selected>Seleccionar...</option>
                    <option>Maestria en Ingenieria</option>
                    <option>Especializacion Big Data</option>
                    <option>Maestria en Cincias Computacionales</option>
                </select>*@
            </div>

            @*BOTONES PARA LAS ACCIONES A EJECUTAR*@

            @*BOTONES*@
            <div class="botones">
                @*EDITAR*@
                <div class="col-6">
                    <button type="submit" class="boton-form btn btn-primary">Editar</button>
                </div>

                @*AGREGAR*@
                <div class="col-6">
                    <button type="submit" class="boton-form btn btn-primary">Agregar</button>
                </div>
            </div>
            

        </form>
    </section>
    
    @*TABLA*@
    <section class="seccion">
        <div class="dashboard-container_tables my-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <table class="table table-striped" id="datatable_users">
                        <thead>
                            <tr>
                                <th class="centered">ID</th>
                                <th class="centered">Primer Nombre</th>
                                <th class="centered">Segundo Nombre</th>
                                <th class="centered">Primer Apellido</th>
                                <th class="centered">Segundo Apellido</th>
                                <th class="centered">Tipo Documento</th>
                                <th class="centered">No Documento</th>
                                <th class="centered">Genero</th>
                                <th class="centered">Programa</th>
                                <th class="centered">Rol</th>
                                <th class="centered">Email</th>
                                <th class="centered">Contraseña</th>
                                <th class="centered">Activo</th>
                                <th class="centered">Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody_users">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    @*JAVASCRIPT*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/database.js" asp-append-version="true"></script>
</body>
</html>